<ion-header>
	<ion-navbar>
		<ion-title>Machine View</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="deleteMachine()">
        		<ion-icon name="trash"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<!-- Machine Header Information-Card -->
	<ion-card>
		<ion-card-header>
			<ion-item>
				<ion-icon name="cog" item-left> {{selectedMachine.name}}</ion-icon>
				<button ion-button clear icon-only item-right (click)="showEditDialog(selectedMachine.name, selectedMachine.type, selectedMachine.description)">
        	<ion-icon name="create"></ion-icon>
      	</button>
			</ion-item>
		</ion-card-header>

		<ion-list>
			<ion-item><b>Type</b>: {{selectedMachine.type}}</ion-item>
			<ion-item><b>Description</b>: {{selectedMachine.description}}</ion-item>
		</ion-list>
	</ion-card>

	<!-- Machine Beacon Information-Card -->
	<ion-card>
		<ion-card-header>
			<ion-item>
				<ion-icon name="disc" item-left> Beacons</ion-icon>
			</ion-item>
		</ion-card-header>

		<ion-list>

			<!-- Show Information of first beacon -->

			<ion-item>
				<ion-card>
					<ion-card-header>
						<ion-item *ngIf="!beacon1.isDummy">
							<ion-icon name="disc" item-left> {{beacon1.id}}</ion-icon>
							<button ion-button clear icon-only item-right (click)="removeFirstBeaconFromMachine()">
        						<ion-icon name="trash"></ion-icon>
      						</button>
						</ion-item>
						<ion-item *ngIf="beacon1.isDummy">
							<ion-icon name="disc" item-left> New...</ion-icon>
						</ion-item>
					</ion-card-header>
				</ion-card>
			</ion-item>
			<!-- Show Information of second beacon -->

			<ion-item>
				<ion-card>
					<ion-card-header>
						<ion-item *ngIf="!beacon2.isDummy">
							<ion-icon name="disc" item-left> {{beacon2.id}}</ion-icon>
							<button ion-button clear icon-only item-right (click)="removeSecondBeaconFromMachine()">
        						<ion-icon name="trash"></ion-icon>
      						</button>
						</ion-item>
						<ion-item *ngIf="beacon2.isDummy">
							<ion-icon name="disc" item-left> New...</ion-icon>
						</ion-item>
					</ion-card-header>
				</ion-card>
			</ion-item>
		</ion-list>
	</ion-card>


</ion-content>